.venv/
bin/
__pycache__/
models/*
!models/tok512.bin
!models/tok512.model
train/llama2.c/data/
train/llama2.c/out*/
firmware/tinyllm_arduino/model_data.h
firmware/tinyllm_idf/build/
firmware/tinyllm_idf/sdkconfig
firmware/tinyllm_idf/managed_components/
